@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    background-color: #F0F0F0;
}

/* Nav Bar Start */
.navBar{
    background-color: #fff;
    width: 100%;
    padding: 15px 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}
.navBar h1,
.navBar i{
    font-size: 30px;
    color: #0F3460;
}
/* Nav Bar End */

/* Header Start */
.header{
    position: relative;
    background: url(images/headerImg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.header .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00061d;
    opacity: 0.8;
}
.header .header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 11rem;
    z-index: 1;
}
.header-content h1{
    padding-bottom: 30px;
    text-align: center;
    letter-spacing: 8px;
}
.header-content p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
    line-height: 34px;
    letter-spacing: 1px;
}
.header-content .header-btn{
    padding: 14px 45px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    letter-spacing: 3px;
    cursor: pointer;
    background-color: #E94560;
    color: #fff;
    transition: 0.4s ease-in-out;
}
.header-btn:hover{
    background-color: #16213E;
    color: #fff;
}
/* Header End */

/* Section Title Start */
.section-title{
    padding: 90px 0 70px;
    text-align: center;
    color: #0F3460;
}
.section-title h1{
    padding-bottom: 20px;
    letter-spacing: 6px;
}
.section-title p{
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* Section Title End */

/* Our Work Start */
.ourWork .row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem 2rem;
}
.row .work{
    position: relative;
    width: 30rem;
    height: 24rem;
    overflow: hidden;
}
.work img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.work .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1A1A2E;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.work .work-details{
    width: 50%;
    height: 100%;
    background-color: #0F3460;
    padding: 3rem 1rem;
    color: #fff;
    z-index: 1;
    transform: translateX(-110%);
    transition: 0.3s ease-in-out;
}
.work-details h1{
    padding-bottom: 20px;
    letter-spacing: 2px;
}
.work-details p{
    line-height: 25px;
    padding-bottom: 20px;
}
.work-details .readMore-btn{
    padding: 10px 9px;
    border: none;
    font-size: 16px;
    letter-spacing: 3px;
    cursor: pointer;
    background-color: #E94560;
    color: #fff;
    transition: 0.4s ease-in-out;
}
.work:hover .overlay{
    opacity: 0.6;
}
.work:hover .work-details{
    transform: translateX(0%);
}
.readMore-btn:hover{
    background-color: #16213E;
    color: #fff;
}
/* Our Work End */

/* Our Team Start */
.ourTeam .row{
    margin-bottom: 4rem;
    padding: 0 2rem;
}
.row .team-member{
    width: 20rem;
    height: 29rem;
    padding: 2rem 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0F3460;
}
.team-member .team-member-img{
    position: relative;
    width: 13rem;
    height: 13rem;
    margin-bottom: auto;
    border: 10px solid #0F3460;
    border-radius: 50%;
    overflow: hidden;
}
.team-member-img img{
    position: absolute;
    top: -45px;
    left: 0;
    width: 100%;
}
.team-member .team-member-details{
    text-align: center;
}
.team-member-details h2{
    padding-bottom: 15px;
}
.team-member-details ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    gap: 1rem;
    list-style: none;
    font-size: 20px;
}
.team-member-details ul a{
    color: #0F3460;
    transition: 0.2s ease-in-out;
}
.team-member-details ul a:hover{
    color: #E94560;
}
/* Our Team End */

/* Footer Start */
.footer{
    background-color: #16213E;
    width: 100%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.footer h1{
    letter-spacing: 10px;
    padding-bottom: 30px;
}
.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    font-size: 20px;
    margin-bottom: 3rem;
}
.footer ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.6rem;
    height: 2.6rem;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    background-color: #fff;
    color: #E94560;
}
.footer p{
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-align: center;
}

/* Footer End */

/* Responsiveness */
@media only screen and (max-width: 1014px) {
    .work .work-details h1{
        padding-bottom: 10px
    }
    .work .work-details p{
        line-height: 22px;
        padding-bottom: 16px;
    }
}

@media only screen and (max-width: 854px) {
    .header .header-content {
        margin: 0 9rem;
    }
    .work .work-details{
        width: 100%;
    }
    .work-details h1{
        padding-bottom: 20px;
    }
    .work-details p{
        line-height: 25px;
        padding-bottom: 20px;
    }
    .row .team-member{
        width: 20rem;
        height: 27rem;
    }
    .team-member .team-member-img{
        width: 11rem;
        height: 11rem;
    }

}

@media only screen and (max-width: 776px) {
    .header .header-content {
        margin: 0 6rem;
    }
}

@media only screen and (max-width: 720px) {
    .ourTeam .row{
        flex-wrap: wrap;
    }
    .row .team-member{
        flex-direction: row;
        width: 30rem;
        height: 15rem;
    }
    .team-member .team-member-img{
        margin-bottom: 0;
        border: 5px solid #0F3460;
        width: 11rem;
        height: 8rem
    }
    .team-member .team-member-img img{
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    .ourWork .row{
        flex-wrap: wrap;
    }
    .row .work{
        height: 20rem;
    }
}

@media only screen and (max-width: 447px) {
    .navBar{
        padding: 15px 2rem;
    }
    .header .header-content {
        margin: 0 3rem;
    }
    .header-content .header-btn{
        padding: 12px 32px;
    }
    .team-member .team-member-img{
        width: 11rem;
        height: 8rem
    }
    .team-member .team-member-img img{
        height: 100%;
    }
}

@media only screen and (max-width: 320px) {
    .header{
        height: 74vh;
    }
    .header .header-content {
        margin: 0 2rem;
    }
    .header .header-content h1{
        font-size: 28px;
    }
    .header .header-content p{
        font-size: 17px;
        line-height: 25px;
    }
    .header-content .header-btn{
        padding: 10px 26px;
    }
}